<a href="https://colab.research.google.com/github/thegrouch4413/data_analytics/blob/main/Copy_of_Unit2_Loop_Assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Intrdouction to Python - Loop - Assignment #3

## 1. Create a list that holds 5 data variables.

In [ ]:
family_members = ['Dorothy','Charlene','Amara','Ian','Javier']

In [ ]:
close_friends = ['Matthew','Jerzy','Luis','Vince','Chris']

## 2.	Print out those variables by using a for loop

In [ ]:
family_members = ['Dorothy','Charlene','Amara','Ian','Javier']
for members in family_members:
  print(members)

Dorothy
Charlene
Amara
Ian
Javier

In [ ]:
close_friends = ['Matthew','Jerzy','Luis','Vince','Chris']
for friends in close_friends:
  print(friends)

Matthew
Jerzy
Luis
Vince
Chris

## 3.	Modify your for loop to add a message to your for loop.

In [ ]:
family_members = ['Dorothy','Charlene','Amara','Ian','Javier']
for members in family_members:
  print(members+' is a part of my family.')

Dorothy is a part of my family.
Charlene is a part of my family.
Amara is a part of my family.
Ian is a part of my family.
Javier is a part of my family.

In [ ]:
close_friends = ['Matthew','Jerzy','Luis','Vince','Chris']
for friends in close_friends:
  print(friends+' is one of my closest friends.')

Matthew is one of my closest friends.
Jerzy is one of my closest friends.
Luis is one of my closest friends.
Vince is one of my closest friends.
Chris is one of my closest friends.

## 4.	Use a for loop to print even numbers from 1-20.

In [ ]:
for num in range(2,21,2):
  print(num)

2
4
6
8
10
12
14
16
18
20

## 5.	Sort your list in alphabetic order.

In [ ]:
family_members = ['Dorothy','Charlene','Amara','Ian','Javier']
family_members.sort()
for members in family_members: 
  print(members)

Amara
Charlene
Dorothy
Ian
Javier

In [ ]:
close_friends = ['Matthew','Jerzy','Luis','Vince','Chris']
close_friends.sort()
for friends in close_friends:
  print(friends)

Chris
Jerzy
Luis
Matthew
Vince

## 6.	Print out the first three elements of your list.

In [ ]:
family_members = ['Dorothy','Charlene','Amara','Ian','Javier']
for members in family_members[:3]:
  
  print(members)

Dorothy
Charlene
Amara

In [ ]:
close_friends = ['Matthew','Jerzy','Luis','Vince','Chris']
for friends in close_friends[0:3]:
  print(friends)

Matthew
Jerzy
Luis

## 7.	Create a loop to print the last 2 elements of your list.

In [ ]:
family_members = ['Dorothy','Charlene','Amara','Ian','Javier']
for members in family_members[3:5]:
  
  print(members)

Ian
Javier

In [ ]:
close_friends = ['Matthew','Jerzy','Luis','Vince','Chris']
for friends in close_friends[3:]:
  print(friends)

Vince
Chris